heder {
  width: 100vw;
  height:80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
    color: #000;
    font-size: 24px;
    font-weight: 980;
    font-family:poppins¨, sans-serif;
    text-decoration: none;
    margin-left:20px;
}
.cv{
  background-color:var(--primary);
  padding: 16px 22px;
  border-radius: 90px;
  margin-right: 20px;
  border: 2px solid #0F0A0A
}
.cv a {
text-transform: uppercase;
color: #000;
text-decoration: none;
font-family: ¨Oxygen¨, sans-serif;
font-weight: 700;
}